table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  .mat-divider {
    padding-top: 20px;
  }

  th.mat-sort-header-sorted {
    color: black;
  }
  .highlight{
    background: #42A948; /* green */
  }